body {
  background-color: hsl(0, 0%, 100%);
  color: hsl(240, 10%, 3.9%);
  font-family: Arial, sans-serif;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
  color: hsl(240, 10%, 3.9%);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 2px solid transparent; /* Added border property */
}

.sunny {
  border: 2px solid #f39c12; /* Sun color */
}

.cloudy {
  border: 2px solid #95a5a6; /* Cloud color */
}

.rainy {
  border: 2px solid #3498db; /* Showers color */
}

.stormy {
  border: 2px solid #e74c3c; /* Storm color */
}

.clear {
  border: 2px solid #2ecc71; /* Clear sky color */
}

.title, .subtitle {
  color: hsl(240, 5.9%, 10%);
  cursor: pointer;
}

.current-weather {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  margin-right: 10px;
  font-size: 1.75rem;
}

.sun {
  color: #f39c12;
}

.cloud {
  color: #95a5a6;
}

.showers {
  color: #3498db;
}

.storm {
  color: #e74c3c;
}

.prayer {
  color: #2ecc71;
}

.temperature {
  font-size: 2em;
  font-weight: bold;
}

.description, .humidity, .precipitation, .day-humidity, .day-precipitation {
  color: hsl(240, 3.8%, 46.1%);
}

.forecast {
  margin-top: 20px;
}

.forecast-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.forecast-day {
  background-color: hsl(0, 0%, 100%);
  color: hsl(240, 10%, 3.9%);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.forecast-day:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background-color: hsl(0, 0%, 96%);
}

.day {
  color: hsl(240, 3.8%, 46.1%);
}

.day-temperature {
  font-weight: bold;
  padding: 0;
  margin: 0.5rem 0;
}

.hidden {
  display: none;
}
